<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">


<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Hello!!</h1>
    <a type="button" class="btn btn-lg btn-default" href="./otherPage.html"><span class="glyphicon glyphicon-flash"></span> SamplePage</a>
  </div>
</div>
<div class="container">
  <hr>
  <div style="width:50%;">
    <div>
      <p>数値計算</p>
      <ul class="accordion1">
        <li>平方根</li>
        <li>乗算</li>
      </ul>
    </div>
  </div>
  <div class="row" style="float: right;">
    <div class="col-md-6">
      <h3>平凡な人生に幸あれ</h3>
      <ul>
        <li style="list-style: none;"><img alt="kouyo" src="/img/3031105813_80da3a8a09.jpg"></li>
        <li>同じことを繰り返しながら、違う結果を望むこと、それは狂気だ。</li>
        <li style="color:#808080;">-アインシュタイン-</li>
      </ul>
    </div>
  </div>
</div>

</body>
</html>
